.nav ul {
    display: flex;
    list-style: none; 
    justify-content: space-between;
    width: 50%;
    margin-left: 500px;
    padding-top: 30px;
    position: relative;

}

.nav a {
    text-decoration: none;
    color: var( --color-light--2);
    font-size: 20px;
}

.nav a:global(.active) {
    color: var( --color-brand--2);
}

