.homepage {
    min-height: 800px;
    margin: 2.5rem;
    background-image: linear-gradient(
     rgba(36,42,46,0.8) ,
     rgba(36,42,46,0.8)

    ),
    url("bg.jpg") ;
    background-position: center;
    background-size: cover;
    
 

}

.homepage section {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    margin-top: 200px;
}

.homepage h1 {
    font-size: 3rem;

}

.homepage h2 {
    width: 90%;
    font-size: 1.9rem;
    color: var(--color-light--1);
    margin-bottom: 2.5rem;

}

