:root {
    --color-bran--1 : #ffb545 ; 
    --color-brand--2 : #00c46a ;
    --color-dark--0 : #242a2e ; 
    --color-dark--1 : #2d3439 ; 
    --color-dark--2 : #42484d ;
    --color-light--1 :  #aaa ;
    --color-light--2 :  #ececec ;
    --color-light--3 :  #d6dee0 ;

}

.btnstart {
    background-color: var(--color-brand--2);
    color: var(--color-dark--0);
    padding: 0.8rem 2rem;
    border-radius: 10px;

}